.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  @media screen and (max-width: 1460px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 960px) {
    padding: 0 15px;
  }
}
